In [38]:
import pandas as pd

df = pd.read_csv("raw_data.csv")

In [39]:
# Cleaning Data

#Handle Missing Values
df.isnull()

df.isnull().sum()

df.dropna()  # row drop
# df.dropna(axis = 1)  # column drop

df.fillna(0)
df.fillna(100)

cleaned_data = df.copy()
cleaned_data["age"] = cleaned_data["age"].fillna(cleaned_data["age"].mean())

# df.ffill()
df.bfill()

    id          name   age country   gender   income
0    1      John Doe  29.0     USA     Male  55000.0
1    1      John Doe  29.0     USA     Male  55000.0
2    2    Jane Smith  34.0  Canada   Female  62000.0
3    3          Alex  34.0     USA  Unknown  47000.0
4    4  Maria Garcia  34.0   Spain   Female  51000.0
5    5        Li Wei  27.0   China     Male  51000.0
6    6    Ahmed Khan  45.0   India   Female  73000.0
7    7    Ahmed Khan  38.0     USA     Male  68000.0
8    8    Rachel Lee  29.0     USA   Female  62000.0
9    9   Carlos Ruiz  31.0  Mexico     Male  45000.0
10  10   Emily Davis  31.0     USA      NaN  58000.0

In [40]:
# Handle Duplicates

df.duplicated()
df["country"].duplicated()
df[["country", "gender"]].duplicated()
df2 = df.copy()

df.drop_duplicates() 
# df.drop_duplicates(inplace=True)   #Changes in original data

In [53]:
#Handle Data Types & date-time

# Data Types
df.dtypes
df2 = df.copy()

df2 = df2.fillna(0)
df2["age"] = df2["age"].astype("int64").copy()
df2.dtypes


#date-time
date_str = pd.Series([pd.to_datetime("2025-12-31")])
type(date_str.dtypes)

numpy.dtypes.DateTime64DType

In [59]:
#Handle strings

df["gender"].str.lower()
df["gender"].str.upper()
df["gender"].str.capitalize()

df["name"].str.split(" ")

df["country"].str.contains("us", case=False)
df["country"].str.contains("India")

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7       NaN
8     False
9     False
10    False
Name: country, dtype: object