In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("globalAirQuality.csv")

In [5]:
# Query - return copy

aqi_val = 100
df.query("aqi > 100")
df.query("aqi > 100 & temperature > 30")[["city", "aqi"]]
df.query("aqi > @aqi_val & temperature > 30")[["city", "aqi"]]

           city  aqi
6      New York  155
7      New York  115
14     New York  121
17     New York  127
25     New York  113
...         ...  ...
17947    Zurich  107
17950    Zurich  140
17975    Zurich  111
17976    Zurich  146
17991    Zurich  104

[2384 rows x 2 columns]